Custom:Plex Media Player:/home/truckershitch/bin/pmp.sh:./icons/pmp.png
Custom:Kodi:/home/truckershitch/bin/kodi.sh:./icons/kodi.png
Custom:Torrent Status:/home/truckershitch/bin/torrent_status_gui.py:./icons/deluge.png
Custom:Reboot:sudo /home/truckershitch/bin/harsh_reboot.sh:./icons/restart.png
Custom:Shutdown:sudo /home/truckershitch/bin/safe_shutdown.sh:./icons/power.png
Custom:Exit:pkill -1 -f run.py:./icons/exit.png
